body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.homepage {
    background: url(../img/homepage.jpg) no-repeat center fixed;
    background-size: cover;
    box-shadow: inset 210em 0.25em 0.25em rgba(0, 0, 0, 0.7);
    width: 100%;
}

/* Navbar */
#logo {
    width: 34px;
    height: 55px;
    margin: 0 90px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: all 0.5s;
}

.navbar-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: all 0.5s;
    z-index: 100;
    background: #F8F5F1;
    box-shadow: 4px 6px 15px 1px rgba(167, 167, 167, 0.7);
    transition: all 0.5s;
}

.nav-menu {
    list-style-type: none;
    margin: 0 90px;
}

.nav-menu li {
    display: inline-block;
    padding: 22px 15px;
}

.nav-menu li a {
    text-decoration: none;
    font-family: 'Proza Libre Regular';
    color: #D6C2AE;
    font-size: 14px;
    line-height: 27px;
}

.nav-menu li a:hover {
    color: #EAE0D5;
    border-bottom: 4px solid #528E7C;
    box-shadow: 3px 3px 6px rgba(234, 224, 213, 0.4);
}

.navbar-active .nav-menu li a {
    color: #886744;
}

/* Small screens menu */
.toggle-menu {
    display: none;
}

/* Title */

.hero {
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 15% 16% 0 12%;
}

.hero h1, .hero h2 {
    font-family: 'Proza Libre Bold';
    color: #D6C2AE;
}

h1 {
    font-size: 66px;
    line-height: 73px;
    padding-bottom: 33px;
}

h1 span {
    display: block;
}

h2 {
    font-size: 30px;
    line-height: 39px;
    padding-bottom: 20px;
}

.cta {
    background: #E15554;
    color: #EAE0D5;
    text-transform: uppercase;
    font-family: 'Encode Sans';
    font-weight: 400;
    font-size: 16px;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
}

.cta:hover {
    color: #E15554;
    background: #fff;
    border: 3px solid #E15554;
    box-sizing: border-box;

}

input {
    width: 220px;
    height: 44px;
}

#discover {
    margin-top: 14%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D6C2AE;
    font-family: 'Encode Sans';
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.035em;
    background: none;
    border: none;
    cursor: pointer;

}

div button img {
    filter: invert(90%) sepia(11%) saturate(557%) hue-rotate(340deg) brightness(88%) contrast(90%);
    width: 55px;
}

/* Pépinière description */
.pepiniere, .start-up, .locaux {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 114px;
    margin: 0 12%;
}

.col-left {
    position: relative;
    flex-basis: 65%;
}

.col-left h2, .startup-right h2, #activities h2 {
    font-family: 'Proza Libre Bold';
    color: #243E36;
}

.col-left p, .col-left ul li, .startup-right p {
    font-family: 'Encode Sans';
    line-height: 24px;
    font-size: 1em;
    margin-top:5px;
    margin-bottom:5px
}

p.pep, .startup-right p {
    margin-bottom: 20px;
}

/* Cards info */
.col-right {
    position: relative;
    padding-left: 68px;
    margin-right: 15px;
}

.col-right-bis {
    position: relative;
    padding-top: 39px;
}

.col-right div, .col-right-bis div  {
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 232px;
    height: 180px;
    margin-bottom: 25px;
}

#card-paris {
    background: no-repeat url(../partners_logo/villeDeParis.png);
    background-size: 30%;
    background-position: 50% 20%;
    padding-top: 80px;
}

#card-offer {
    background: no-repeat url(../img/offre.png);
    background-size: 30%;
    background-position: 50% 20%;
    padding-top: 100px;
}

.info-card p {
    font-family: 'Encode Sans';
    font-weight: normal;
    color: #243E36;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.info-card p span {
    display: block;
    
}

.card-text span {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.card-text{
    padding-top: 28%;
}

/* Start-up */
.startup-left div, .startup-left-bis div  {
    box-shadow: 4px 6px 20px 1px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    width: 151px;
    height: 154px;
    margin-bottom: 25px;
}

.startup-iconsGreen {
    background: #71AD9B;
}

.startup-icons, .startup-iconsGreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startup-icons img#kazooLogo{
    width: 110px;
    height: 30px;    
}

.startup-iconsGreen img#fintechLogo{
    width: 110px;
    height: 45px;    
}

.startup-icons img#takeawasteLogo{
    width: 96px;
    height: 107px;    
}

.startup-left {
    position: relative;
    flex-basis: 30%;
    padding-top: 39px;
}

.startup-left-bis {
    position: relative;
    flex-basis: 20%;
    padding-right: 100px;
}

.startup-right {
    padding-left: 68px;
}

input#cta-startup {
    width: 250px;
}

/* Les locaux et équipements */
div #pepiniere-assets {
    background: #3C685A;
    position: relative;
    height: 780px;
    margin-top: 114px;
}

.locaux {
    position: absolute;
    flex-direction: column;
    padding-top: 0;
    margin-top: 76px;
    font-family: 'Encode Sans';
    color: white;
    font-size: 1em;
    line-height: 24px;
}

.background-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.locaux-description h2 {
    font-family: 'Proza Libre Bold';
    color: #FFF;
}

.equipments h3 {
    font-family: 'Proza Libre Medium';
    font-size: 24px;
    line-height: 39px;
    color: #FFF;
}

.equipments {
    padding-bottom: 50px;
}

.equipments-lists {
    display: flex;
    line-height: 40px;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.equipment-list-desc {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 2.2em;
    margin-top: 2.5em;
}

#equipments-list2 {
    padding-left: 200px
}

.equipment-list-desc li {
    padding-left: 24px;

}
li span {
    top: -8px;
    position:relative;
}
/* Icones pour les listes */
#equipments-list1 li:nth-of-type(1) {
    list-style-image: url(../equipments_icons/locker.svg);
}

#equipments-list1 li:nth-of-type(2) {
    list-style-image: url(../equipments_icons/office_desk.svg);
}
#equipments-list1 li:nth-of-type(3) {
    list-style-image: url(../equipments_icons/meeting_room.svg);
}
#equipments-list1 li:nth-of-type(4) {
    list-style-image: url(../equipments_icons/sport.svg);
}

#equipments-list2 li:nth-of-type(1) {
    list-style-image: url(../equipments_icons/printer.svg);
}
#equipments-list2 li:nth-of-type(2) {
    list-style-image: url(../equipments_icons/phone.svg);
}
#equipments-list2 li:nth-of-type(3) {
    list-style-image: url(../equipments_icons/wifi.svg);
}
#equipments-list2 li:nth-of-type(4) {
    list-style-image: url(../equipments_icons/box.svg);
}

/* Activités et évènements */
#activities {
    position: relative;
    margin: 114px 12% 0;
}

.activities-card {
    width: 415px;
    height: 250px;
    background: #C1A485;
    box-shadow:  4px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    z-index: 1;
    margin-bottom: 110px;
    margin-right: 20px;
}

.activities-card h4 {
    font-family: 'Proza Libre Regular';
    color: #243E36;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
}

.activities-card p {
    font-family: 'Encode Sans';
    font-weight: normal;
    font-size: 16px;
    color: #243E36;
    padding-left: 2em;
    padding-right: 2em;
}

.activities-card span {
    display: block;
}
.activities-first-row, .activities-second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Dernières actualités */

.news {
    position: relative;
    margin: 114px 12% 0;
}

.news h2 {
    font-size: 30px;
    line-height: 39px;
    padding-bottom: 20px;
    color: #243E36;
    font-family: 'Proza libre Bold';
}

.news-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 593px;
    background: rgba(113, 173, 155, 0.55);
    border-radius: 94px 94px 94px 0px;
}

.news-card {
    width: 380px;
    height: 631px;
    background: #FFFFFF;
    box-shadow: 4px 6px 20px 1px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}


/* Footer */
footer {
    background: #243E36;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-top: 114px;
}

.col-partners {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    padding: 0 35px;
}

.h4-footer {
    color: #F8F5F1;
    font-family: 'Proza Libre Regular';
    font-size: 22px;
    line-height: 150%;
}

#h4-footer-partners {
    text-align: center;
}

.footer-partner-row1, .footer-partner-row2, .footer-partner-row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-partners {
    width: 80px;
    height: 80px;
    border-radius: 200px;
    margin: 6.5px 25px;
}

/* Logo des partenaires */
#sendinblue {
    background: no-repeat center/50% #F8F5F1 url(../partners_logo/Sendinblue.svg);
}
#jurisdocs {
    background: no-repeat center/90% #F8F5F1 url(../partners_logo/jurisdocs.svg);
}
#plezi {
    background: no-repeat center/80% #F8F5F1 url(../partners_logo/plezi.svg);
}
#rocketChart {
    background: no-repeat center/90% #F8F5F1 url(../partners_logo/rocketChart.svg);
}
#villeDeParis-partners {
    background: no-repeat center/50% #F8F5F1 url(../partners_logo/villeDeParis.png);
}
#BPIFrance {
    background: no-repeat center/80% #F8F5F1 url(../partners_logo/BPIFrance.svg);
}
#synintra {
    background: no-repeat center/80% #F8F5F1 url(../partners_logo/Synintra.svg);
}
#hubspot {
    background: no-repeat center/80% #F8F5F1 url(../partners_logo/Hubspot.svg);
}
#microsoftstartups {
    background: no-repeat center/80% #F8F5F1 url(../partners_logo/microsoftstartups.svg);
}
#amazon {
    background: no-repeat center/60% #F8F5F1 url(../partners_logo/amazon.svg);
}
#dhl {
    background: no-repeat center/70% #F8F5F1 url(../partners_logo/dhl.svg);
}
#ulule {
    background: no-repeat center/80% #F8F5F1 url(../partners_logo/ulule.svg);
}
#stripe {
    background: no-repeat center/70% #F8F5F1 url(../partners_logo/stripe.svg);
}

/* Contact */
.col-contacts {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding: 0 35px;
    padding-left: 230px;
}

.h4-footer-contact {
    margin-bottom: 20px;
}

.col-contacts p {
    margin: 0;
    color: #F8F5F1;
}

.col-contacts a {
    text-decoration: none;
    color: #F8F5F1;
    padding-right: 25px;
}

.col-contacts a, .col-contacts p {
    font-family: 'Encode Sans';
    font-size: 1em;
    line-height: 1.5em;
}

#address {
    display: block;
}

#socials img {
    width: 50px;
    height: 50px;
    padding-right: 20px;
    cursor: pointer;
}


/* Small screens */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 50px;
        text-align: center;
        padding-top: 60px;
    }

    .hero h2 {
        text-align: center;
        font-size: 26px;
    }

    .hero .cta {
        text-align: center;
        margin: 0 auto;
    }

    .navbar {
        height: 4em;
    }

    #logo {
        position: relative;
        z-index: 20;
        margin: 2rem;
}

    .menu-icon {
        width: 2em;
    }

    .toggle-menu {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    #open-menu {
        display: block;
        margin: 2rem;
    }

    #close-menu {
        display: none;
    }
    /* Si le menu est ouvert, on cache le bouton ouvrir et on affiche le bouton fermer */
    .open #open-menu {
        display: none;
    }
    .open #close-menu {
        display: block;
        margin: 2rem;
    }

    /* Affichage du menu */
    .nav-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #F8F5F1;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        margin: 0;
        /* Tout le menu est décalé vers la gauche s'il est fermé */
        transform: translateX(-100%);
    }

    /* Le menu revient à sa position de départ s'il est ouvert */
    .open .nav-menu {
        transform: translateX(0);
        transition: transform 0.5s;
    }

    .nav-menu li a {
        font-size: 1.5rem;
        line-height: 1.5em;
        color: #886744;
    }

    .nav-menu li a:hover {
        color: #EAE0D5;
        border-bottom: 4px solid #528E7C;
    }

    .hero {
        padding: 0;
    }

    /* Pépinière description */
    .pepiniere {
        flex-direction: column;
        margin: 0 10%;
        align-items: center;
        padding-top: 80px;
    }

    .col-left {
        padding-bottom: 20px;
    }

    .col-right, .col-right-bis  {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .info-card {
        margin: 5px;
    }

    .col-right div, .col-right-bis div  {
        width: 180px;
        height: 150px;
    }


    /* Start-up */
    .start-up {
        flex-direction: column-reverse;
        padding: 0;
        align-items: center;
        padding-top: 80px;
    }

    .startup-right {
        padding: 0;
    }

    .startup-left, .startup-left-bis {
        display: flex;
        padding: 0;
        margin-top: 50px;
    }

    .startup-left div, .startup-left-bis div {
        margin: 0 25px;
        width: 130px;
        height: 130px;
    }


    /* Locaux et équipements */
    div #pepiniere-assets {
        height: 1300px;
        margin-top: 80px;
    }
    .equipments-lists {
        flex-direction: column;
    }

    #equipments-list2 {
        padding-left: 0;
    }


    /* Activités et évènements */
    .activities-card {
        margin-bottom: 50px;
        text-align: center;
        width: 270px;
        height: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .activities-card h4 {
        font-size: 20px;
        padding-top: 15px;
    }
    .activities-first-row, .activities-second-row {
        display: block;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0;
     
    }

    /* Footer */
    footer {
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .footer-partner-row1, .footer-partner-row2, .footer-partner-row3 {
        flex-wrap: wrap;
    }

    .footer-partners {
        margin: 6.5px;
        width: 55px;
        height: 55px;
    }

    .col-contacts {
        padding: 0 35px;
        align-items: center;
    }

    .col-partners {
        margin-left: 6.5px;
    }

    .col-partners :nth-child(3) { 
        order:4; 
    }

    .h4-footer-contact {
        text-align: center;
    }

    #address {
        display: inline;
    }

    #footer-nav {
        text-align: center;
    }

    .col-contacts a {
        padding: 7.5px;
    }
}

/* Tablets portrait */
/* @media screen and (min-width: 769px) and (max-width: 1024px) {
    #logo, .nav-menu {
        margin: 0 50px;
    }
} */

/* UW screens */
/* @media screen and (min-width: 1600px) {
    .pepiniere, .start-up {  */
        /* Taille fixe */
        /* width: 1500px; */
        /* Centrer */
        /* margin-left: auto;
        margin-right: auto;
    }

  } */
