.navbar {
    margin: 0 90px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 100;
    transition: all 0.5s;
}
.navbar-active {
    margin: 0 90px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 100;
    background: #F8F5F1;
    box-shadow: 4px 6px 15px 1px rgba(167, 167, 167, 0.7);
    transition: all 0.5s;
}

.navbar-active nav ul li a {
    color: #886744;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    padding-top: 22px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Proza Libre';
    font-weight: normal;
    color: #D6C2AE;
    font-size: 14px;
    line-height: 27px;
}

nav ul li a:hover {
    color: #EAE0D5;
    border-bottom: 4px solid #528E7C;
    box-shadow: 3px 3px 6px rgba(234, 224, 213, 0.4);
}